{
  "TCP": {
    "443": {
      "HTTPS": true
    }
  },
  "Web": {
    "your-tailscale-machine-name.your-tailnet-id.ts.net:443": {
      "Handlers": {
        "/": {
          "Proxy": "http://127.0.0.1:8096"
        }
      }
    }
  }
}
